/* efeitos ao passar o mouse */
.btn-home:hover{
    color: #ffffff;
}
.btn-icone:hover {
  color: #ffffff;
}
#pesquisa::placeholder {
  color: #a3a3a3;
  font-style: italic;
}

#pesquisa:focus {
  outline: none;
  border-color: #ffbe9b;
  background-color: #ffffff;
  box-shadow: 0 0 0.5vw #ea580c88;
  transition: 0.5s;
}

#pesquisa:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

.barraS button:hover {
  background-color: #ea580c;
  color: #111;
  transition: 0.5s;
}


#categorias a:hover {
  box-shadow: 0vw 0vw 0.4vw #171717;
  background-color: #292929;
  color: #ffffff;
}
.produtoInic:hover .nomeProdut{
  color: #2b54dd;
}

.btn-carrossel:hover {
  background-color: #ea580c;
  color: #fff9f4;
  transition: 0.2s;
}

.produto:hover {
  box-shadow: 0.2vw 0.2vw 0.3vw #dddddd;
  border: 0.1vw solid #dddddd;
}
.botãoFiltrar:hover{
  transform: translateY(-0.2vw);
  background-color: #ffffff;
  box-shadow: 0 0.2vw 0.3vw #cbdcf0;
}
.botãoFiltrar:active{
  transform: translateY(-0.1vw);
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.08);
  color: #4A90E2;
}

.thumbnail-img:hover {
  border-color: #ea580c;
}

.btn-comprar-novo:hover {
  background-color: #c2410c;
}

.btn-whatsapp:hover {
  background-color: #ea580c;
  color: white;
}

.btn-icone:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efeito de fundo sutil */
  color: #f97316; /* Cor laranja do seu site */
}
.dropdown-menu a:hover {
  color: #F97316;
}
.close-btn:hover {
  color: #F97316;
  background-color: transparent; /* Fundo transparente para manter o efeito */
}