#fundo2 {
  display: flex;
  flex-direction: column;
}

#nomeFundo2 {
  font-size: 8vh;
  margin-left: 1vw;
}

.linha {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

/* Produtos */
.organizaProd {
  width: 90vw;
  /* Largura da área de produtos */
  min-height: 40vw;
  /* Altura mínima da seção */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  /* Quebra linha quando necessário */
  gap: 0.6vw;
  /* Espaço entre os produtos */
  justify-content: center;
  /* Centraliza os produtos */
  position: relative;
  z-index: 10;
}

.produto {
  width: 30vh;
  height: 63vh;
  border: 0.1vw solid #dddddd;
  /* Borda cinza clara */
  background: #efefef;
  border-radius: 1vw;
  box-shadow: 0.1vw 0.1vw 0.8vw #4e4e4e22;
  /* Sombra suave */
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  transition: 0.6s;
  cursor: pointer;
}

.guardImg {
  width: 100%;
  height: 60%;
  display: flex;
  overflow: hidden;
  border-radius: 0.5vw;
  position: relative;
  top: 0.6vw;
}

.guardImg>img {
  /* imagem do produto */
  width: 100%;
  height: 100%;
  position: relative;
}

.btn-abre-filtro2 {
  display: none;
}

#filtro2 {
  width: 28%;
  flex-shrink: 0;
  height: 40vw;
  /* ALTERAÇÃO PRINCIPAL: Altura se ajusta ao conteúdo */
  margin-top: 2vw;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 0.1vw solid #d3d3d3;
  border-radius: 0.7vw;
  box-shadow: none;
  /* overflow: auto; foi removido pois não é mais necessário */
  position: sticky;
  top: 7.4vw;
  bottom: 30vw;
  overflow: auto;
}

input[type="checkbox"] {
  display: none;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  border: 0.2vh solid #a1a1a1;
  border-radius: 0.3vw;
  width: 2vh;
  height: 2vh;
  align-items: center;
  justify-content: center;
}

svg polyline {
  fill: none;
  stroke: #4A90E2;
  /* cor da linha*/
  stroke-width: 7;
  /* largura da linha */
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  transition: stroke-dashoffset 0.3s ease-out;
}

input[type="checkbox"]:checked+svg polyline {
  stroke-dashoffset: 0;
}

#filtro2>span {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8vw;
  margin-left: 0;
  margin-bottom: 1.5vw;
  border-bottom: 0.3vh solid #ea580c;
  padding-bottom: 0.8vw;
  /* --- ALTERAÇÃO AQUI --- */
  align-self: flex-start;
  /* Faz com que o elemento e a barra se ajustem ao tamanho do texto */
}

.marcas {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  gap: 1.2vw;
  margin-left: 2vh;
}

.botãoFiltrar {
  padding: 0.8rem 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #585858;
  background-color: #ffffff;
  border: 0.1vw solid #e6e6e6;
  border-radius: 1.3vw;
  cursor: pointer;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
  margin-top: 2vw;
  color: #4A90E2;
}

.spanCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media(max-width: 768px) {
  .linha.linha1 {
    display: grid;
    align-items: center;
    grid-template-columns: 9fr  1fr;
    position: relative;
    grid-gap: 10vh;
    padding: 1vh;
    margin-top: 15vh;
  }

  .btn-abre-filtro2 {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8vw;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 1vh;
    /* --- ALTERAÇÃO AQUI --- */
    align-self: flex-start;
    border: 0px;
  }

  .btn-abre-filtro2 svg polyline {
    fill: none;
    stroke: #000000;
    /* cor da linha*/
    stroke-width: 4;
    /* largura da linha */
    stroke-linecap:round;
    stroke-linejoin: miter;
    stroke-dasharray: 30;
    stroke-dashoffset: 0;

  }

  .linha {
    flex-direction: column;
  }

  #nomeFundo2 {

    font-size: 4vh;
  }
  #filtro2.aberto{
    width: 60vw;
    visibility: visible;
    transition: .4s;
  }
  body.fechado{
    overflow: hidden;
    height: 100vh;
  }
  .escuro{
    background-color: #000000a2;
    position: fixed;
    z-index: 39;
    width: 100vw;
    height: 100vh;
    display: none;
  }
  .escuro.aberto{
    display: block;
  }
  #filtro2 {
    width: 0%;
    flex-shrink: 0;
    height: 100vh;
    /* ALTERAÇÃO PRINCIPAL: Altura se ajusta ao conteúdo */
    padding: 0%;
    display:  flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 0vw solid #d3d3d3;
    border-radius: 0.7vw;
    box-shadow: none;
    /* overflow: auto; foi removido pois não é mais necessário */
    position: fixed;
    top: -2vh;
    overflow: hidden;
    transition: .4s ease-out;
    z-index: 40;
  }
}