/* efeitos ao passar o mouse */
.btn-home:hover{
    color: #ffffff;
}
.btn-icone:hover {
  color: #ffffff;
  /* Muda cor para laranja ao passar o mouse */
}
#pesquisa::placeholder {
  color: #a3a3a3;
  /* Cor do texto de dica */
  font-style: italic;
}

#pesquisa:focus {
  outline: none;
  /* Remove a borda padrão azul */
  border-color: #ea580c;
  /* Destaca a borda ao focar */
  background-color: #ffffff;
  /* Fundo branco suave */
  box-shadow: 0 0 0.5vw #ea580c88;
  /* Brilho ao redor do campo */
  transition: 0.5s;
}

#pesquisa:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

.barraS button:hover {
  background-color: #f97316;
  /* Fundo laranja */
  color: #111;
  /* Texto escuro */
  transition: 0.5s;
}

#categorias div:hover {
  box-shadow: 0vw 0vw 0.4vw #171717;
  background-color: #292929;
}

.btn-carrossel:hover {
  background-color: #ea580c;
  /* Fundo laranja ao passar o mouse */
  color: #fff9f4;
  /* Texto claro */
  transition: 0.2s;
}

.produto:hover {
  box-shadow: 0.2vw 0.2vw 0.2vw #ea580c55;
  /* Realça o produto */
  border: 0.1vw solid #ea580c;
  /* Muda a cor da borda */
}
.botãoFiltrar:hover{
  transform: translateY(-0.2vw);
  box-shadow: 0 0.2vw 0.3vw rgba(29, 49, 76, 0.12);
  color: #4A90E2;
}
.botãoFiltrar:active{
  transform: translateY(-0.1vw);
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.08);
  color: #4A90E2;
}